<div class="row">
  <% favourite_hikes.each do |hike| %>
    <div class="col-md-3">
      <div class="card-hike">
        <%= link_to hike_path(hike), class:'text-decoration-none' do %>
          <% if hike.photos.attached? %>
            <%= cl_image_tag hike.photos.first.key, class: 'hike-image' %>
          <% else %>
            <img class="hike-image" src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
          <% end %>
          <div class="price float-right mt-2 mr-2">$<%=hike.price%></div>
          <div class="card-hike-infos">
            <div class="hike_name_fav"><%= hike.name %></div>
            <div class="location"><%= hike.region %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>