 <div class="notification">
  <img class="avatar dropdown-toggle mr-1" src="<%= message.user.avatar_url %>  " />
      <span class="activity-status online user-<%= message.user.id %>-status mr-2"></span>
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      
      <span><%= message.user.nickname %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
  </div>
</div>
