<div class="container booking-form">
    <div class="card-form">
    <div class="card-booking-body">
    <p class="float-right card-booking-price"><strong>$<%=@hike.price%></strong></p>
    <p class="card-booking-title"><strong> <%=@hike.name%></strong></p>
    <div>
    <span><i class="far fa-calendar-alt"></i> <%=@hike.length%> Days</span>
    <br>
    <span><i class="fas fa-hiking"></i> <%=@hike.distance%>km</span>
    <br>
    <span><i class="fas fa-expand-alt"></i> <%=@hike.elevation%> meters</span>
    <br>
    <span><%=@hike.difficulty%></span>
    </div>

      <%= simple_form_for [@hike, @booking] do |f| %>
        <%= f.input :date, as: :string, label: false, placeholder: 'Start Date'%>
        <%= f.button :button, "Book now", class: "btn-book w-100 mt-2" %>
      <% end %>
    </div>
</div>

