<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <div class="notification-blank">
        <img src='<%= current_user.avatar_url %>' class="avatar-large" />
        <div class="notification-content-blank align-items-centers">
          <h3 class="m-0 ml-1">Hello <%=@booking.user.first_name %>. Welcome to <em>
              <%= @chatroom.name %>
            </em></h3>
        </div>
      </div>
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <div class="notification-guide">
          <div class="notification-members">
            <img class="avatar dropdown-toggle" src="<%= @booking.hike.guide.avatar_url  %>"/>
            <div class="notification-members-content">
              <p class="m-0"><%= @booking.hike.guide.first_name %>, <%= @booking.hike.guide.age %> years old</p>
              <p class="text-muted m-0"></small><em>Germany</em></small></p>
            </div>
            <div class="pinned"><i class="fas fa-thumbtack"></i> <em>Pinned</em></div>
          </div>
          <p class="text-muted m-0"></small>Hey Group. Welcome to your chosen Hike <em>Malerweg.</em> I am looking
          forward to sharing this hike experience with you all. This is the place to introduce yourself, ask any
          questions you may have, and get connected with your fellow hikers. Let's make this hike an unique adenture
          for everyone!</small></p>
        </div>
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message' , message: message %>
        <% end %>
      </div>
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message your fellow hikers" %>
        <%= hidden_field_tag :booking_id, @booking.id %>
        <%= hidden_field_tag :hike_id, @booking.hike.id %>
        <%# <%=f.submit class: "button" %>
      <% end %>
    </div>
    <div class="col-4">
      <div class="card-chatroom">
        <ul id="booking-show-countdown" data-reference-date="<%= @booking.group_hike.start_at%>"></ul>
        <div class="card-weather">
          <h3>Expected Weather Forecast</h3>
          <h4 id="date"></h4>
          <p id="description" class="m-0"></p>
              <div class="d-flex align-items-center">
                <img src="" alt="" id="icon" height="50" width="50">
                <h4 id="temperature" class="m-0" data-longitude= '<%= @booking.hike.start_address.longitude %>'
            data-latitude='<%= @booking.hike.start_address.latitude %>'></h4>
          </div>
        </div>
        <h3 class="mt-5">Fellow Hikers</h3>
        <% @chatroom.group_hike.bookings.each do |booking| %>
          <div class="notification-members">
            <img class="avatar dropdown-toggle" src="<%= booking.user.avatar_url  %>" />
      <div class="notification-members-content">
        <div class="d-flex align-items-center">
          <p class="m-0">
            <%= booking.user.first_name %>, <%= booking.user.age %>
          </p>
          <% if user_signed_in? %>
            <p class="online-badge m-0 ml-2"></p>
          <% else %>
            <p class="offline-badge m-0 ml-2"></p>
          <% end %>
        </div>
        <p class="text-muted m-0"></small><em><%= booking.user.country %></em></small></p>
  </div>
</div>
<% end %>
</div>
</div>
</div>
</div>
