<div class="container">
<br>
<br>
<br>
<br>
<br>
 
  <h3>Hello <%=@booking.user.nickname  %>. Welcome to<%= @hike.chatroom.name %> </h3>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>



  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message your fellow hikers" %>
    <%= hidden_field_tag :booking_id, @booking.id %>
    <%= hidden_field_tag :hike_id, @hike.id %>
    <%= f.submit class: "btn-book" %>
  <% end %>
</div>

