<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="bg-white rounded p-3 shadow confirmation mt-3 mb-3">
        <h3 class= "mb-4">Complete your booking</h3>
        <%= simple_form_for [@hike, @booking] do |f| %>
          <div class="form-row">
          <%= f.input :date %>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :first_name, label: false, placeholder: 'First Name (filled from profile)' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.input :last_name, label: false, placeholder: 'Last Name (filled from profile)' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :email, label: false, placeholder: 'Email Address (filled from profile)' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.input :phone_number, label: false, placeholder: 'Phone Number' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-9">
              <%= f.input :credit_card, label: false, placeholder: 'Card Number' %>
              <p><small><em class="text-muted">By clicking <strong>'Confirm'</strong> you are agreeing to our Terms & Conditions, Privacy Policy, and to received booking-related messages.</em></small></p>

<button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
  Confirm booking
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Great, your booking has been confirmed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You will receive a confirmation email soon with your booking details.
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
        <%= link_to "Close", dashboard_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

