<div class= "container mt-5 details-hike">
  <div class="row mb-4">
    <div class= "col-md-9">
      <div class="d">
        <div class="titolo_myhike">
          <%=@booking.hike.name%>
          <%# <p class="float-right reviews"><i class="fas fa-star"></i>
            <% @rating = @hike.reviews.map { |r| r.rating} %>
            <%# <%= (@rating.inject{ |sum, el| sum + el }.to_f / @rating.size).round(1)  %>
          <%# </p> %> 
        </div>
        <em class="text-muted" id="countdown"><%=@booking.group_hike %></em>
      </div>
    </div>
    <div class = "col-md-3">
      <button type="button" class="btn btn-primary d-flex mr-4" data-toggle="modal" data-target="#exampleModal">
        Leave a Review
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">
            <%= render 'review' %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div class= "row">
    <div class= col-md-6>
      <div id="map-start-end"
          style="width: 100%; height: 450px;"
          data-style="<%= @booking.hike.map_style %>"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[0]&.key, class: "image-hike"  %>
      <%= cl_image_tag @hike.photos[1]&.key, class: "image-hike"  %>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[2]&.key, class: "image-hike"  %>
      <%= cl_image_tag @hike.photos[3]&.key, class: "image-hike"  %>
    </div>
  </div>
</div>

<div class= "container mt-3">
  <div class="row mt-5">
    <div class="col-md-8">
      <div>
        <div class="titolo_hike"><%= @hike.title %></div>
        <div class="sottotitolo_hike"><%= @hike.length %> Day Guided Trek</div>
        <div class="testo_hike"><%= @hike.subtitle %></div>
        <table>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-mountain"></i> Region</p>
            </td>
            <td>
              <p><%=@hike.national_park%></p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="far fa-clock"></i> Duration</p>
            </td>
            <td>
              <p><%= @hike.length %> Days</p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-arrow-right"></i> Distance</p>
            </td>
            <td>
              <p><%= @hike.distance %> Kilometers</p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-arrow-up"></i> Elevation</p>
            </td>
            <td>
              <p><%= @hike.elevation %> Meters</p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-hiking"></i> Skill Level</p>
            </td>
            <td>
              <p><%= @hike.difficulty %></p>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <hr>
        <div class="descrizione">Description</div>
        <div class="testo_descrizione"><%= @hike.description %></div>
        <hr>
      </div>
      <div class="about_the_guide">About the Guide</div>
      <div class="row">
        <div class="col-md-2 guide-avatar">
          <img class="avatar dropdown-toggle" src="<%= @hike.guide.avatar_url  %>" />
        </div>
        <div class="col-md-6">
          <%= @hike.guide.first_name %>, <%= @hike.guide.age %> years old
          <div><em class="text-muted" >Guide since <%= @hike.guide.guide_since.year %></em></div>
        </div>
        <br>
        <div class="float-right col-md-3">
          <i class="fas fa-star"></i>4.5 (16 reviews)
        </div>
      </div>
      <div class="row testo_descrizione mt-4">
        <%= @hike.guide.guide_description %>
      </div>
    </div>
    <div class="col-4">
      <div class="card-chatroom">
        <ul id="booking-show-countdown" data-reference-date="<%= @booking.group_hike.start_at%>"></ul>
        <div class="card-weather">
          <h3>Expected Weather Forecast</h3>
          <h4 id="date"></h4>
          <p id="description" class="m-0"></p>
              <div class="d-flex align-items-center">
                <img src="" alt="" id="icon" height="50" width="50">
                <h4 id="temperature" class="m-0" data-longitude= '<%= @booking.hike.start_address.longitude %>'
            data-latitude='<%= @booking.hike.start_address.latitude %>'></h4>
          </div>
        </div>
            <div class="mt-5"><h3>Fellow Hikers</h3>
              <% @bookings.each do |booking| %>
                <div class="notification-members mb-4">
                <img class="avatar dropdown-toggle" src="<%= booking.user.avatar_url  %>" />
                  <div class="notification-members-content">
                    <p class="m-0">
                    <%= booking.user.first_name %>, <%= booking.user.age %>
                    </p>
                    <p class="text-muted m-0"></small><em><%= booking.user.country %></em></small></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to "Visit Group Page", hike_booking_chatroom_path(@booking.hike, @booking), class: "btn btn-primary w-100" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
