<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a href="#"><img class="logo_navbar" src="https://i.ibb.co/GRT4xyd/hik-Easy-logo.png" alt="hik-Easy-logo" border="0"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-0">
      <li class="nav-item active">
        <%= link_to "Home", :root, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "All Hikes", :hikes, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown"> 
        <% if user_signed_in? %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= current_user.avatar_url %>" />
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "My Hikes", dashboard_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
