
<%= link_to hike_path(hike), class: 'text-decoration-none' do %>
  <div class="container">
    <div class="row">
      <% if hike.photos.attached? %>
        <%= cl_image_tag hike.photos.first.key, class: 'hike-image-map' %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1511225070737-5af5ac9a690d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="img-fluid" alt="...">
      <% end %>
    </div>
    <div class="d-flex justify-content-between pt-1">
      
      <div class="font-weight-bold"><%= hike.name %></div>
      <div class="font-weight-bold">$<%= hike.price %></div>
    </div>
    <div class="card-map-infos d-flex text-capitalize justify-content-between">
      <div>
       <p class="m-0"><%= hike.region %></p>
        <p class="m-0"><%= hike.difficulty %></p>
      </div>
      
      <%= link_to toggle_favorite_hike_path(hike), remote: true, method: :post do %>
          <div class="like-icon mx-2 heart <%= 'not-favorited' unless current_user.favorited?(hike) %>" data-id="<%= hike.id %>">
          <i class="fas fa-heart"></i>
          </div>
      <% end %>
      
    </div>
  </div>
<% end %>


