<div class= "container">
  <%= form_tag hikes_path, method: :get do %>
    <div class= "row mt-3">
      <div class= "col-lg-2">
        <div class="nav-link" >
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-sliders-h"></i> Price
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <form method="post">
                  <div data-role="rangeslider">
                    <label for="price-min">400</label>
                    <input type="range" name="price-min" id="price-min" value="200" min="400" max="800">
                    <label for="price-max">800</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "col-lg-2">
          <div class="nav-link" >
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Difficulty
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item">
                  <%= check_box_tag "difficulty[]", "beginner" %>
                  <%= label_tag :beginner %>
                  <br>
                  <%= check_box_tag "difficulty[]", "intermediate" %>
                  <%= label_tag :intermediate %>
                  <br>
                  <%= check_box_tag "difficulty[]", "expert" %>
                  <%= label_tag :expert %>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "col-lg-2">
          <div class="nav-link" >
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Duration
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item">
                  <form method="post">
                    <div data-role="rangeslider">
                      <label for="length-min">2</label>
                      <input type="range" name="length-min" id="length-min" value="2" min="2" max="9">
                      <label for="length-max">9</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class= "col-lg-2">
            <div class="nav-link" >
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Distance
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item">
                    <form method="post">
                      <div data-role="rangeslider">
                        <label for="distance-min">24</label>
                        <input type="range" name="distance-min" id="distance-min" value="24" min="24" max="60">
                        <label for="distance-max">60</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class= "col-lg-2">
              <div class="nav-link" >
                <div class="dropdown">
                  <div style="width:500px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Accomodation
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <div class="dropdown-item">
                        <br>
                        <%= check_box_tag "accomodation[]", "cabin" %>
                        <%= label_tag :cabin %>
                        <br>
                        <%= check_box_tag "accomodation[]", "tent" %>
                        <%= label_tag :tent %>
                        <br>
                        <%= check_box_tag "accomodation[]", "tipi" %>
                        <%= label_tag :tipi %>
                        <br>
                        <%= check_box_tag "accomodation[]", "under the stars" %>
                        <%= label_tag :under_the_stars %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class= "col-lg-2">
              <%= submit_tag "Search", class: "btn btn-primary-search" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <div class="hike_results">Hike Results:</div>
          </div>
          <div clas="col-lg-1"><button class="btn active"><i class="fas fa-list"></i></button></div>
          <div clas="col-lg-1"><button class="btn active"><i class="far fa-map"></i></button></div>
        </div>
         <% @hikes.each do |hike| %>
          <% if hike.photos.attached? %>
            <%= link_to hike_path(hike), class:'text-decoration-none' do %>
              <div class = "col-lg-12">
                <div class="card-product">
                  <%= cl_image_tag hike.photos.first.key, class: 'hike-image' %>
                  <div class="card-product-infos">
                  <div class="card-product-infos-heading">
                  <div class ="nome_hike"><%= hike.name %></div>
                  <div class ="prezzo">$<%=hike.price%></div>
                    </div>
                    <div class="card-product-infos-subheading">
                    <div class="luogo"><%= hike.region %></div>
                    <div class="reviews"><i class="fas fa-star"></i> /5.00</div>
                    </div>
                    <div><i class="far fa-clock"></i> <%= hike.length %> Days</div>
                    <div><i class="fas fa-arrow-right"></i> <%= hike.distance %> Kilometers</div>
                    <div><i class="fas fa-arrow-up"></i> <%= hike.elevation %>m Elevation</div>
                    <div class="button difficolta"><%= hike.difficulty %></div>
                    <br>
                    <div class="card-product-infos-last-row">
                    <div class="availability">This hike is available during the months of June, July, August, September</div>
                    <%= link_to toggle_favorite_hike_path(hike), remote: true, method: :post do %>
                      <div class="like-icon mx-2 heart <%= 'not-favorited' unless current_user.favorited?(hike) %>" data-id="<%= hike.id %>">
                        <i class="fas fa-heart"></i></div>
                    <% end %>
                  </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= link_to hike_path(hike), class:'text-decoration-none' do %>
              <div class = "col-lg-12">
                 <div class="card-product">
                  <img src="https://images.unsplash.com/photo-1511225070737-5af5ac9a690d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
                  <div class="card-product-infos">
                  <div class="card-product-infos-heading">
                  <div class ="nome_hike"><%= hike.name %></div>
                  <div class ="prezzo">$<%=hike.price%></div>
                    </div>
                    <div class="card-product-infos-subheading">
                    <div class="luogo"><%= hike.region %></div>
                    <div class="reviews"><i class="fas fa-star"></i> /5.00</div>
                    </div>
                    <div><i class="far fa-clock"></i> <%= hike.length %> Days</div>
                    <div><i class="fas fa-arrow-right"></i> <%= hike.distance %> Kilometers</div>
                    <div><i class="fas fa-arrow-up"></i> <%= hike.elevation %>m Elevation</div>
                    <div class="button difficolta"><%= hike.difficulty %></div>
                    <br>
                    <div class="card-product-infos-last-row">
                    <div class="availability">This hike is available during the months of June, July, August, September</div>
                    <%= link_to toggle_favorite_hike_path(hike), remote: true, method: :post do %>
                      <div class="like-icon mx-2 heart <%= 'not-favorited' unless current_user.favorited?(hike) %>" data-id="<%= hike.id %>">
                        <i class="fas fa-heart"></i></div>
                    <% end %>
                  </div>
                  </div>
                  </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="container">
        <div class = "row">
          <div class="col-lg-12">
            <div id="map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>

      