
  <% @hikes.each do |hike| %>
    <%= link_to hike_path(hike), class:'text-decoration-none' do %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div><h3><%= hike.name %></h3></div>
          <div><p>difficulty:<%= hike.difficulty %></p></div>
          
          <p><%= hike.accomodation_type %></p>
          <p><%= hike.price %>$</p>
        </div>
      </div>
    <% end %>  
  <% end %>
  </div>


