<div class= "container-fluid">
  <div class= "row">
    <div class= "col-lg-3">
      <%= form_tag hikes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "hike"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class= "col-lg-3">
    <div class="nav-link" >
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Difficulty
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <%= form_tag hikes_path, class: "p-3", method: :get do %>
               <div class="dropdown-item">
                 <%= check_box_tag "difficulty[]", "beginner" %>
                 <%= label_tag :beginner %>
                 <br>
                 <%= check_box_tag "difficulty[]", "intermediate" %>
                 <%= label_tag :intermediate %>
                 <br>
                 <%= check_box_tag "difficulty[]", "expert" %>
                 <%= label_tag :expert %>
                 <br>
                 <%= check_box_tag "accomodation[]", "cabin" %>
                 <%= label_tag :cabin %>
                 <br>
                 <%= check_box_tag "accomodation[]", "tent" %>
                 <%= label_tag :tent %>
                 <br>
                  <%= check_box_tag "accomodation[]", "tipi" %>
                 <%= label_tag :tipi %>
                 <br>
                  <%= check_box_tag "accomodation[]", "under the stars" %>
                 <%= label_tag :under_the_stars %>
                 <br>
                  <%= number_field_tag "price[]", "minimum" %>
                 <%= label_tag :min %>
                 <br>
                  <%= number_field_tag "price[]", "maximum" %>
                 <%= label_tag :max %>
               </div>
                <%= submit_tag "Search", class: "btn btn-primary" %>
             <% end %>
          </div>
        </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class = "row">
      <div class="col-lg-12">
      <div id="map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      </div>
    </div>
    <br>
    <div class = "row">
      <div class="col-lg-12">
      <div class ="hike_results">Hike Results:</div>
      </div> 
    </div>
    <div class="row">
    <% @hikes.each do |hike| %>
        <%= link_to hike_path(hike), class:'text-decoration-none' do %>
        <div class = "col-lg-3">
          <div class="card-hike">
            <img class="hike-image" src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
            <div class="card-hike-infos">
              <div class="hike_name"><%= hike.name %></div>
              <div class="location">location</div>
              <div class="price">$<%=hike.price%></div>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>



