<div class="container mt-5">
  <div class = "row">
    <div class = "col-lg-5">
      <div id="map-start-end"
        style="width: 100%; height: 400px;"
        data-style="<%= @hike.map_style %>"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[0]&.key, class: "top-image-hike"  %>
      <%= cl_image_tag @hike.photos[1]&.key, class: "buttom-image-hike"  %>
    </div>
    <div class = "col-lg-4">
      <%= render "bookings/form", booking: @booking %>
    </div>
  </div>
  <div class="row">
    <div class = "col-lg-8">
      <hr>
      <p><%=@hike.description%></p>
      <hr>
    </div>
    <div class = "col-lg-4">
      <div class = "card-guide">
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <div class="card-review">
        <p>Reviews</p>
        <% if @hike.reviews.empty? %>
          <small><em class="text-muted"> Be the first one to review this Hike</em></small>
        <% end %>
        <% @hike.reviews.each do |review| %>
          <div>
            <img class="avatar-large" alt="avatar-large" src="<%= review.booking.user.avatar_url %> ">
            <div><small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small></div>
            <div><% review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
            </div>
            <p class="mb-0"><%= review.comment %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "row">
    <div class = "col-lg-3">
      <div class="card-hike">
        <img src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
        <div class="card-hike-infos">
          <div>
            <h2>Hike Name</h2>
            <h3>Location</h3>
            <p>Number of Hikers</p>
          </div>
          <h2 class="card-hike-pricing">$<%=@hike.price%></h2>
        </div>
      </div>
    </div>
    <div class = "col-lg-3">
      <div class="card-hike">
        <img src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
        <div class="card-hike-infos">
          <div>
            <h2>Hike Name</h2>
            <h3>Location</h3>
            <p>Number of Hikers</p>
          </div>
          <h2 class="card-hike-pricing">$<%=@hike.price%></h2>
        </div>
      </div>
    </div>
    <div class = "col-lg-3">
      <div class="card-hike">
        <img src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
        <div class="card-hike-infos">
          <div>
            <h2>Hike Name</h2>
            <h3>Location</h3>
            <p>Number of Hikers</p>
          </div>
          <h2 class="card-hike-pricing">$<%=@hike.price%></h2>
        </div>
      </div>
    </div>
    <div class = "col-lg-3">
      <div class="card-hike">
        <img src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
        <div class="card-hike-infos">
          <div>
            <h2>Hike Name</h2>
            <h3>Location</h3>
            <p>Number of Hikers</p>
          </div>
          <h2 class="card-hike-pricing">£99.99</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
