<!-- Image Section-->
<div class="container-fluid mt-5">
  <div class= "row">
    <div class= col-lg-6>
      <div id="map-start-end"
      style="width: 100%; height: 450px;"
      data-style="<%= @hike.map_style %>"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[0]&.key, class: "image-hike"  %>
      <%= cl_image_tag @hike.photos[1]&.key, class: "image-hike"  %>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[2]&.key, class: "image-hike"  %>
      <%= cl_image_tag @hike.photos[3]&.key, class: "image-hike"  %>
    </div>
  </div>
</div>
<!-- Body -->
<div class= "container mt-3">
  <div class="row mt-5">
    <div class="col-md-8">
      <div>
        <div class="titolo_hike"><%= @hike.title %></div>
        <div class="sottotitolo_hike"><%= @hike.length %> Day Guided Trek</div>
        <div class="testo_hike"><%= @hike.subtitle %></div>
        <table>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-mountain"></i> Region</p>
            </td>
            <td>
              <p><%=@hike.national_park%></p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="far fa-clock"></i> Duration</p>
            </td>
            <td>
              <p><%= @hike.length %> Days</p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-arrow-right"></i> Distance</p>
            </td>
            <td>
              <p><%= @hike.distance %> Kilometers</p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-arrow-up"></i> Elevation</p>
            </td>
            <td>
              <p><%= @hike.elevation %> Meters</p>
            </td>
          </tr>
          <tr>
            <td class="pr-5">
              <p><i class="fas fa-hiking"></i> Skill Level</p>
            </td>
            <td>
              <p><%= @hike.difficulty %></p>
            </td>
          </tr>
        </table>
      </div>
      <div>
      <hr>
        <div class="descrizione">Description</div>
        <div class="testo_descrizione"><%= @hike.description %></div>
      <hr>
      </div>
      <div class="guide-section">
        <div class="about_the_guide">About the Guide</div>
        <div class="row">
          <div class="col-md-2 guide-avatar">
          <img class="avatar dropdown-toggle" src="<%= @hike.guide.avatar_url  %>" />
        </div>
        <div class="col-md-6">
          <%= @hike.guide.first_name %>, <%= @hike.guide.age %> years old
          <div><em class="text-muted" >Guide since <%= @hike.guide.guide_since.year %></em></div>
        </div>
        <br>
        <div class="float-right col-md-3">
          <i class="fas fa-star"></i>4.5 (16 reviews)
        </div>
      </div>
      <div class="col">
        <div class="row testo_descrizione mt-4">
          <div class="guide_description"><%= @hike.guide.guide_description %></div>
        </div>
        <hr>
      </div>
      <div class="suggestion-section">
        <div class="about_the_guide">What others are saying about <%=@hike.name%></div>
        <div class="card-review">
          <% if @hike.reviews.empty? %>
            <small><em class="text-muted"> Be the first one to review this Hike</em></small>
          <% end %>
          <div class="row">
            <% @hike.reviews[0..2].each do |review| %>
            <div class="col-md-4 ">
              <img class="avatar-large" alt="avatar-large" src="<%= review.booking.user.avatar_url %> ">
                <div><small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small></div>
              <div><% review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              </div>
              <p class="mb-0"><%= review.comment %></p>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sticky Form-->
    <div class="col-lg-4">
      <%= render "bookings/form", booking: @booking %>
    </div>
  </div>
</div>
<!-- Recommended Section-->
<div class="container">
  <div class="line-break"><hr></div>
  <div class="you_may_also_like">You Might Also Like:</div>
    <div class="row">
      <% @related_hikes.each do |related_hike| %>
      <div class="col-lg-3">
        <%= link_to hike_path(related_hike), class:'text-decoration-none' do %>
        <div class="card-hike">
          <% if related_hike.photos.attached? %>
            <%= cl_image_tag related_hike.photos.first.key, class: 'hike-image' %>
            <%= link_to toggle_favorite_hike_path(@hike), remote: true, method: :post do %>
            <div class="like-icon mx-2 <%= 'favourite' if current_user.favorited?(@hike) %>" data-id="<%= @hike.id %>">
              <i class="fas fa-heart suggestion"></i>
            </div>
      <% end %>
          <% else  %>
            <img src="https://images.unsplash.com/photo-1556653922-ca7aa575c39f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxNjAwODE3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit" />
          <% end %>
          <div class ="float-right price mr-2 mt-2">$<%=related_hike.price%></div>
          <div class="card-hike-infos">
            <div class ="hike_name"><%= related_hike.name %></div>
            <div class ="location"><%= related_hike.region %></div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

