<div class="container-fluid mt-5">
  <div class= "row">
    <div class= col-md-6>
      <div id="map-start-end"
        style="width: 100%; height: 450px;"
        data-style="<%= @hike.map_style %>"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[0]&.key, class: "image-hike mb-3"  %>
      <%= cl_image_tag @hike.photos[1]&.key, class: "image-hike"  %>
    </div>
    <div class = "col-lg-3">
      <%= cl_image_tag @hike.photos[2]&.key, class: "image-hike mb-3"  %>
      <%= cl_image_tag @hike.photos[3]&.key, class: "image-hike"  %>
    </div>
  </div>
</div>
</div>
<div class= "container mt-3">
  <div class="row mt-5">
    <div class="col-md-8">
      <div class="titolo_hike"><%= @hike.title %></div>
      <div class="sottotitolo_hike"><%= @hike.length %> Day Guided Trek</div>
      <div class="testo_hike"><%= @hike.subtitle %></div>
      <table>
        <tr>
          <td class="pr-5">
            <p><i class="fas fa-mountain"></i> Region</p>
          </td>
          <td>
            <p><%=@hike.national_park%></p>
          </td>
        </tr>
        <tr>
          <td class="pr-5">
            <p><i class="far fa-clock"></i> Duration</p>
          </td>
          <td>
            <p><%= @hike.length %> Days</p>
          </td>
        </tr>
        <tr>
          <td class="pr-5">
            <p><i class="fas fa-arrow-right"></i> Distance</p>
          </td>
          <td>
            <p><%= @hike.distance %> Kilometers</p>
          </td>
        </tr>
        <tr>
          <td class="pr-5">
            <p><i class="fas fa-arrow-up"></i> Elevation</p>
          </td>
          <td>
            <p><%= @hike.elevation %> Meters</p>
          </td>
        </tr>
        <tr>
          <td class="pr-5">
            <p><i class="fas fa-hiking"></i> Skill Level</p>
          </td>
          <td>
            <p><%= @hike.difficulty %></p>
          </td>
        </tr>
      </table>
    </div>
    <div class = "col-lg-4" id="sticky-form">
      <%= render "bookings/form", booking: @booking %>
    </div>
  </div>
  <div class="col-lg-8">
    <hr>
    <div class="descrizione">Description</div>
    <div class="testo_descrizione"><%= @hike.description %></div>
    <hr>
  </div>
  <div class="col-lg-8">
    <div class="about_the_guide">About the Guide</div>
    <div class="row">
      <div class="col guide-avatar">
        <img src="https://images.unsplash.com/photo-1586022045315-1cdd6493045c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIyMjk2MzMz&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"/>
      </div>
      <div class="float-left col">
        Guide Name
      </div>
      <br>
      <div class="col">
        <i class="fas fa-star"></i>Reviews
      </div>
    </div>
    <hr>
  </div>
  <div class="col-lg-8">
    <div class="about_the_guide">What others are saying about <%=@hike.name%></div>
    <div class="card-review">
      <p>Reviews</p>
      <% if @hike.reviews.empty? %>
        <small><em class="text-muted"> Be the first one to review this Hike</em></small>
      <% end %>
      <% @hike.reviews.each do |review| %>
        <div>
          <img class="avatar-large" alt="avatar-large" src="<%= review.booking.user.avatar_url %> ">
          <div><small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small></div>
          <div><% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
          </div>
          <p class="mb-0"><%= review.comment %></p>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
  <div class="col-lg-8">
    <h4>You might also like:</h4>
    <% @related_hikes.each do |related_hike| %>
      <% if related_hike.photos.attached? %>
        <%= link_to hike_path(related_hike), class:'text-decoration-none' do %>
          <div class = "col-lg-12">
            <div class="card-product">
              <%= cl_image_tag related_hike.photos.first.key, class: 'hike-image' %>
              <div class="card-product-infos">
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>